# .ebextensions/01_custom_commands.config
container_commands:
  01_install_deps:
    command: "pnpm install"
    leader_only: true

  02_run_build:
    command: "pnpm run build"
    leader_only: true

  03_log_deploy_time:
    command: "echo 'Deployed at: $(date)' >> /var/app/current/deploy.log"
    leader_only: true
